
</<!DOCTYPE html>
<html>
    <head>
        <title>TestApp</title>
    </head>
    
    <body>
        <%= link_to image_tag(''), "" %>
        <%= link_to 'Home', root_path %>
        
        <div class="flex-container">
            <h1>Welcome to my about page</h1>
            
            <p></p>
            
            <div class="float-left">
                ajsd jslkdjlke ndslknelk ndkjlnew
                cnakjcnjc cjsnbcj sankjnc cnkjsnc
                ajsd jslkdjlke ndslknelk ndkjlnew
                cnakjcnjc cjsnbcj sankjnc cnkjsnc
            </div>
            
            <div>
                ajsd jslkdjlke ndslknelk ndkjlnew
                cnakjcnjc cjsnbcj sankjnc cnkjsnc
                ajsd jslkdjlke ndslknelk ndkjlnew
                cnakjcnjc cjsnbcj sankjnc cnkjsnc
            </div>
            
            <footer>Copyright &copy; W3Schools.com</footer>
        </div>
    </body>
</html>    